.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.container__botao:checked ~ .container__rotulo> .cabecalho__menu-hamburguer {
    background-image: url("../img/menuaberto.svg");
}

.container__botao:checked ~ .container__rotulo {
    background: var(--gradiente);
}

.cabecalho {
    background-color: var(--segunda-cor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    background-color: var(--segunda-cor);
    padding: 1em;
}

.lista-menu__titulo {
    color: var(--terceira-cor);
    text-transform: uppercase;
    font-weight: 700;
}

.lista-menu__link {
    background: var(--gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao {
    display: none;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-titulo);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--quinta-cor);
    }

    .container__imagem__transparente {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo> .opcoes__item {
        background: var(--gradiente);
        color: var(--segunda-cor);
     }

    .opcoes__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--gradiente);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--segunda-cor);
        text-decoration: none;
    }
}

@media screen and (min-width: 1366px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--quinta-cor);
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto;
    }

    .container__texto {
        display: block;
    }
}